html {
	cursor: url(../imgs/cur.gif) 19 20, auto;
}

body {
	margin: auto;
	webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-size: 8px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
}

a:link,
a:active,
a:hover,
a:visited {
	color: rgba(255,255,255,0);
	cursor: url(../imgs/cur.gif),auto;
}

@keyframes fadeOne {
	0% {opacity:0;}
	25% {opacity:0;}
	50% {opacity:1;}
	100% {opacity:1;}
}

@-moz-keyframes fadeOne {
	0% {opacity:0;}
	25% {opacity:0;}
	50% {opacity:1;}
	100% {opacity:1;}
}

@-webkit-keyframes fadeOne {
	0% {opacity:0;}
	25% {opacity:0;}
	50% {opacity:1;}
	100% {opacity:1;}
}

@-o-keyframes fadeOne {
	0% {opacity:0;}
	25% {opacity:0;}
	50% {opacity:1;}
	100% {opacity:1;}
}

@-ms-keyframes fadeOne {
	0% {opacity:0;}
	25% {opacity:0;}
	50% {opacity:1;}
	100% {opacity:1;}
}

@keyframes fadeTwo {
	0% {opacity:0;}
	75% {opacity:0;}
	100% {opacity:1;}
	}

@-moz-keyframes fadeTwo {
	0% {opacity:0;}
	75% {opacity:0;}
	100% {opacity:1;}
	}

@-webkit-keyframes fadeTwo {
	0% {opacity:0;}
	75% {opacity:0;}
	100% {opacity:1;}
	}

@-o-keyframes fadeTwo {
	0% {opacity:0;}
	75% {opacity:0;}
	100% {opacity:1;}
	}

@-ms-keyframes fadeTwo {
	0% {opacity:0;}
	75% {opacity:0;}
	100% {opacity:1;}
}


.three {
	position: fixed;
	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
	z-index: 100;
	margin: auto;
	animation: fadeTwo ease 10s;
	-webkit-animation: fadeTwo ease 10s;
	-moz-animation: fadeTwo ease 10s;
	-o-animation: fadeTwo ease 10s;
	-ms-animation: fadeTwo ease 10s;
}

.two {
	position: fixed;
	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
	z-index: 50;
	margin: auto;
	animation: fadeOne ease 10s;
	-webkit-animation: fadeOne ease 10s;
	-moz-animation: fadeOne ease 10s;
	-o-animation: fadeOne ease 10s;
	-ms-animation: fadeOne ease 10s;
}

.one {
	position: fixed;
	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
	z-index: 1;
	margin: auto;
}

.blue {
	cursor: url(../imgs/hovcur.gif) 19 20, auto;
}
