html {}

body {
	margin: auto;
	webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background-color: #f6f1eb;
	font-size: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
}

.logomark {
	width: 80%;
	margin: auto;
	position: fixed;
  top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
}

#hermezyx {
	height: 100%;
	width: 100%;
	margin: auto;
}

.dated {
  font-family: Arial, Helvetica, sans-serif;
  color: #F37022;
  font-size: 2em;
}

#aa {
	position: fixed;
	top: 3%;
	left: 3%;
  z-index: 10;
}

#bb {
	position: fixed;
	top: 3%;
	right: 3%;
  z-index: 10;
}

#cc {
	position: fixed;
	bottom: 3%;
	left: 3%;
  z-index: 10;
}

#dd {
	position: fixed;
	bottom: 3%;
	right: 3%;
  z-index: 10;
}